<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="انشاء_برنامج_عمرة.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <انشاء_برنامج_عمرة.My.MySettings>
            <setting name="Companyprice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="Image" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageInvois" serializeAs="String">
                <value>C:\Users\PC\Desktop\ImageInvois.jpg</value>
            </setting>
        </انشاء_برنامج_عمرة.My.MySettings>
    </userSettings>
</configuration>
